body {
  font-family: Roboto, sans-serif;
	color: #0f3c4b;
	background-color: #e5edf1;
	padding: 5rem 1.25rem; /* 80 20 */
}

h1 {
  font-size: 42px;
	font-weight: 300;
	color: #0f3c4b;
	margin-bottom: 40px;
}

#drag-file {
  font-size: 1.25rem; /* 20 */
  background-color: #c8dadf;
  position: relative;
  padding: 100px 20px;

  outline: 2px dashed #92b0b3;
	outline-offset: -10px;
	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
  width: 97%;
  max-width: inherit;
	text-align: center;
  border-radius: 5px;
  margin-right: 20px
}

#code_fence {
  width: 95%;
  padding: 50px 20px;
  background-color: #c8dadf;
  clear:left;
  margin-top:20px;
  margin-right:20px;
  margin-bottom:20px;
  margin-left:10px;
  border-radius: 5px;
}

#button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  background-color: #0099ff;
  border-radius: 10px;
  border: none;
}
